.projectContainer {
    padding: 100px 10px 150px 10px;
}

.profileBackground {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.viewProjectsBtn {
    color: #22223b;
    align-items: center;
}