.projectContainer {
    padding: 100px 10px 150px 10px;
}

.profileBackground {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.viewProjectsBtn {
    color: white;
    background-color: #4a4e69;
}

.viewProjectsBtn:hover {
    color: #c9ada7;
}

.center {
    text-align: center;
}