/* ========== Nav Bar ========== */

.menu {
    background-color: #22223b;
    color: white;
}

.nav-link {
    color: white;
}

/* ========== Banner ========== */



/* ========== Profile ========== */



/* ========== Projects ========== */




/* ========== CV ========== */




/* ========== Contact ========== */





/* ========== Footer ========== */