html {
    font-family: 'Varela Round', sans-serif;
    scroll-behavior: smooth;
    width: 100%;
}

body { 
    margin: 0; font-family: 'Varela Round', sans-serif;
    color:#22223b;
}

hr {
    background-color: #22223b;
    border-style: solid;
    height: 5px;
    width: 10%;
    opacity: 0px;
    display: inline-block;
}

