html {
    font-family: 'Varela Round', sans-serif;
    scroll-behavior: smooth;
    width: 100%;
}

body { 
    margin: 0; font-family: 'Varela Round', sans-serif;
    color:#22223b;
}

hr {
    background-color: #f2e9e4;
    border-style: solid;
    height: 5px;
    width: 10%;
    opacity: 0px;
    display: inline-block;
}

.container {
    padding: 50px 10px 50px 10px;
}


/* ========== Nav Bar ========== */

.menu {
    background-color: #9a8c98;
    color: white;
}

.nav-link {
    color: white;
}


/* ========== Banner ========== */

.headerImage {
    height: 600px;
}

.headerBlock {
    height: auto;
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
}

h1 {
    color:#22223b;
}

h1 span {
    color: #f2e9e4;
}


/* ========== Profile ========== */

.profileBackground  {
    height: 650px;
}

/* ========== Projects ========== */


/* ========== Scroll bar ========== */
.parallaxBar {
    padding-top: 50px;
    padding-bottom: 50px;

    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ========== Skillset ========== */
.icon {
    height: 175px;
    width: 175px;
    line-height: 175px;
    max-width: 100%;
    background: #4a4e69;
    border-radius: 50%;
    display: block;
    color: #fff;
    font-size: 50px;
    text-align: center;
    position: relative;
    margin: 0 auto 50px;
}

/* ========== CV ========== */

.CVDownload {
    height: 500px;
}


/* ========== Contact ========== */





/* ========== Footer ========== */
.footer {
    background-color: #9a8c98;
    color: white;
    padding: 30px 0px 30px 0px;
}

footer a {
    padding: 5px 5px 5px 5px;
}

.fab {
    
    color: white;
}