.skillsetBackground {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.skillsetContainer {
    background-color: #f2e9e4;
    padding: 50px 10px 100px 10px;
}

.icon {
    height: 175px;
    width: 175px;
    line-height: 175px;
    max-width: 100%;
    background: #22223b;
    border-radius: 50%;
    display: block;
    color: #fff;
    font-size: 50px;
    text-align: center;
    position: relative;
    margin: 0 auto 50px;
}