.bannerContainer {
    height: 800px;

    background-repeat: no-repeat;
    background-size: cover;
}

.headerBlock {
    height: auto;
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
}

h1 {
    color:#22223b;
}

h1 span {
    color: #f2e9e4;
}

.profileBtn {
    background-color: #4a4e69;
    color: white;
}

.profileBtn:hover {
    color: #c9ada7;
}